* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #cdd7fa;
  line-height: 1.6;
  padding: 20px;
}
header {
  padding: 10px 0;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  font-size: small;
}
.navbar-item:hover {
  cursor: pointer;
}
main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  font-size: 80px;
  font-weight: bold;
  color: #557deb;
}
.searchbar {
  margin-top: 20px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 5px 10px;
}
.searchbar-container :hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.searchbar :hover {
  box-shadow: none;
}
.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  width: 300px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.AI-search-button {
  background-color: #f0f5f5;
  border-radius: 18px;
  padding: 8px 12px;
  font-size: 14px;
  margin-left: 10px;
}
.AI-search-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.favorite-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.link-item:hover {
  cursor: pointer;
}
.link-icon {
  font-size: 14px;
  color: #ffffff;
  background-color: #a5b9f5;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.link-item:hover .link-icon {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.link-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-label {
  font-size: 14px;
}
.tab-container {
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
  background-color: #a5b9f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.tab-title-header {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}
.tab-title {
  font-size: 14px;
  padding: 5px;
}
.tab-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto 10px 10px 10px;
  padding: 10px;
  background-color: #cdd7fa;
  border-radius: 10px;
}
.tab-item {
  display: flex;
}
.tab-item:hover {
  background-color: #d6dbfb;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tab-icon {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background-color: #a5b9f5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-label-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tab-main-label {
  font-size: 14px;
  font-weight: bold;
}
.tab-sec-label {
  font-size: 12px;
  color: #555555;
}
.seemore-title {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.seemore-title:hover {
  cursor: pointer;
}
